.card {
    width: 317px;
    padding: 0;
    height: 80%;
    align-items: center;
    text-align: center;
}
 .header {
    background-color: #1A1B21;
    color: #F5F5F5;
}

.content {
    background-color: #1A1B21;
    color: #F5F5F5;
}

.social {
    background-color: #161619;
}